* {
  margin: 2px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;

}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: .5%;
  margin: 1%;
}

h1,
h2,
h3,
h4,
h5{
  color: #185531;
  padding: 1%;
}

p{
  color: #185531;
  padding: 1%;
}

ul{
  color: #185531;
  padding: 1%;
}

li{
  padding: 0.5%;
}

section{
  padding: 2%;
}




.linea{
  background-color:#9ec31b ;
  width: auto;
  height: 3px;
  padding: 0;
  margin: 0;
}


/* MENU REDES*/

.redes{
  background-color: #185531;
  border-radius: 5px;
  position: fixed;
  width: 50px;
  height: auto;
  line-height: 55px;
  top: 400px;
  left: 2px;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-left: 0;
}

.redes img{
  margin-left: 10px;
  padding: 2px;
  width: 30px;
}



/* WHASTAPP FLOTANTE */

.boton_whastapp{
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
}


/* MENU NAVEGACION */

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center ;
  width:100%;
  max-height:0px;
  overflow:hidden;
  transition: 1s all; 

 
}

.mostrar {
  max-height:500px;

}


.ul_menu {
  list-style:none;
}

nav ul li a{
   text-decoration:none;
   display:block;
   line-height:50px;
   font-weight: bold;
   color:#185531 ;
   font-size:1em;
   padding:2px;
   text-align: center;
 }
 
 nav ul li a:hover {
  background-color:#96b734;
  color:#fff;
  border-radius: 15px;

}

.menu {
  display: flex;
  justify-content: center;
  padding:10px;
  color:#fff;
  width:100%;
  cursor:pointer;  
}

.li_menu{
  width: 200px;
}

.boton_menu{
  justify-content: center;
  width: 50px;
  padding: 0;
  margin: 0;
}




/* BANNER INDEX */

.contenedor_p{
  width: auto;
  height: 500px;
}


.banner {
  margin: 5px;
  padding: 10px;
}

.banner h3{
  color: white;
  font-size: 4em;
}

.banner h4{
  color:#9ec31b ;
  font-size: 2em;

}

.banner_right{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 700px;
  z-index: 2;
}


.banner_left{
  position: absolute;
  width: auto;
  max-width: 1000px;
  z-index: 1;
  margin-top: 2px;
}
.banner_left img{
  border-radius: 10px;
  width: 100%;
}


.datos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;

}

.fondo1,
.fondo2,
.fondo2{
  width: 25px;
  height: 150px;
  background-color:#96b734 ;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 0;
  z-index: 1;
}

.datos1,
.datos2,
.datos3 {
  background-color: white;
  border-radius: 30px;
  border-style: solid;
  border-color: gray;
  border-width: 0.5px;
  text-align: center;
  height: auto;
  width: 20%;
  margin-left: 0;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.48);
-webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.48);
-moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.48);
  z-index: 2;
}

.titulo {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.subtitulo {
  font-size: 30px;
  color: white;
  
}

.num_tit {
  font-size: 60px;
  font-weight: bold;
  color: #da9116;
}

.dato_tit {
  font-size: 20px;
  font-weight: bold;
  color: #185531;
}

.dato_stit {
  padding-bottom: 1%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  font-size: 15px;
  color: black;
}




/* INDEX */

/* MENU IMAGENES INDEX */

.contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contenedor_img{
  position: relative;
  display: inline-block;
  text-align: center;
}

.img_secciones{
  width: 250px;
  height: 300px;
  margin: 3%;
  border-radius: 0px 20px 20px 0px; 
  box-shadow: 5px 10px 5px -3px rgba(0,0,0,0.62);
  -webkit-box-shadow: 5px 10px 5px -3px rgba(0,0,0,0.62);
  -moz-box-shadow: 5px 10px 5px -3px rgba(0,0,0,0.62);
}

.texto_img{
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
  -webkit-text-stroke: .5px white;
;
}



.eventos_index{
  display: none;
}






/* ***FOOTER*** */

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #185531;
  text-align: center;
}

.section.footer{
  padding: 2%;
}

.h2_footer{
  padding: 1%;
  color: white;
}

.p_footer{
  color: white;
}

.p_footer a{
  color: #96b734;
}

.img_footer{
  padding: 0.5%;
  justify-content: space-around;
  width: 50px;
}

.img_footer2{
  width: 150px;
  align-items: center;
  border-radius: 5px;
}

.prop_footer{
  font-size: 12px;
  text-align: center;
}

.prop_footer a{
  text-decoration: none;
  color: black;

}

/* CAPACITACION */

.tit_capacitacion{
  margin-bottom: 0;
  padding-bottom: 0;
}

.div_capacitacion li{
  margin: .5px;
  padding: .5px;
}

.div_capacitacion h3{
  background-color: #96b734;
  color: white;
  margin-top: 15px;
  border-radius: 5px;
  padding: 5px;
}

.div_capacitacion h5{
  margin-top: 5px;
  font-size: 1.2em;
}




/* ***COLABORAR*** */

.titulo_verde{
  font-size: 1em;
  color: #96b734;
  text-align: center;
}

.boton{
display: flex;
justify-content: center;
align-items: center;
width: auto;
text-align: center;
padding: 1%; /*espacio alrededor texto*/
margin: 5px;
background-color: #185531; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
border-radius: 10px; /*bordes redondos*/
}

.boton_g{
display: flex;
justify-content: center;
text-align: center;
width: 250px;
height: auto;
padding: 8px; /*espacio alrededor texto*/
background-color: #185531; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
border-radius: 10px; /*bordes redondos*/
}

.boton_g a:hover{
  background-color: #96b734 ; /*color botón*/
  color: #ffffff; /*color texto*/
  }


.bancos{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  background-color: #96b734;
  box-shadow: 7px 13px 37px;
}

.li_bancos{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: .5%;
  padding: 2%;
  background-color: white;
  width: 500px;
  border-radius: 15px;
}

.li_bancos div{
  margin: 5px;
}

.li_bancos img{
  margin: 10px;
  width: 50px;
}

.li_bancos p{
  font-size: 0.8em;
}






/* ASIDE + SECTION */

.aside_section{
  display: grid;
  grid-template-areas: 
          "section_aside"
          "aside";
}

aside{
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
  align-items: center;
  flex-wrap: wrap;
  background-color: #185531;
  border-radius: 15px;
  border-color: #9ec31b;
  border-width: 2px;
  width: auto;
  height: auto;
  padding-bottom: 5px;

}

aside ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
}


.ul_aside h4{
  color: white;
  font-size: 1.2em;
  text-align: center;
  margin-top: 2px;
  padding-top: 2px;
  margin-bottom: 10px;
}

.ul_aside li{
  align-content: center;
  background-color:#96b734;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  list-style:none;
  text-align: center;
  height: auto;

}

.ul_aside a{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: white;
  padding: 2px;
  margin: 2px;
  text-decoration:none;
}

.ul_aside li :hover{
  background-color:#96b734 ;
  color: black;
  width: auto;
}

.boton_centro{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}


/* GRUPOS */

.section_aside{
  grid-area:  section_aside;
}

.section_aside h3{
  padding-top: 5%;
  text-align: center;
}

.center{
text-align: center;
}

.section_aside p{
  padding: .5%;
  margin: .5%;
}




/* ***CONTACTO*** */

.contacto{
  display: flex;
  width: 80%;
  max-width: 800px;
  background-color: #96b734;
  padding: 30px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 7px 13px 37px;

}

.contacto h2{
  color: white;
  margin-bottom: 10px;
}

.input_form{
  width: 100%;
  padding: 3%;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid;
  
}

.boton {
  width: 100%;
  max-width: 300px;
  height: 30px;
  border: none;
  padding: 2px;
  margin: 5px;

}

/* PRENSA */

.eventos_prensa{

}

.eventos,
.prensa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.eventos h3,
.prensa h3{
  color: white;
  font-size: 1em;
}

.h2_eventos_prensa{
  color: white;
  background-color: #185531;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

.titulo_s {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #96b734;
  border-radius: 10px;
  width: 300px;
  height: auto;
  min-height: 300px;
}



.lupa,
.lupa11,
.lupa12,
.lupa13,
.lupa14,
.lupa15,
.lupa21,
.lupa22,
.lupa23,
.lupa24,
.lupa25,
.lupa26,
.lupa27,
.lupa28,
.lupa29,
.lupa30,
.lupa31 {
  width: 25px;
  cursor: pointer;
  margin: 1%;
}


.img_s {
  width: 90%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 15px;
}

.texto_s,
.texto_s11,
.texto_s12,
.texto_s13,
.texto_s14,
.texto_s15,
.texto_s21,
.texto_s22,
.texto_s23,
.texto_s24,
.texto_s25,
.texto_s26,
.texto_s27,
.texto_s28,
.texto_s29,
.texto_s30,
.texto_s31,
.texto_s32{
  max-height: 0px;
  overflow: hidden;
  transition: 1s all;
  
}


.texto_s11 a,
.texto_s12 a,
.texto_s13 a,
.texto_s14 a,
.texto_s15 a,
.texto_s21 a,
.texto_s22 a,
.texto_s23 a,
.texto_s24 a,
.texto_s25 a,
.texto_s26 a,
.texto_s27 a,
.texto_s28 a,
.texto_s29 a,
.texto_s30 a,
.texto_s31 a,
.texto_s32 a,
.boton_m{
display: flex;
justify-content: center;
justify-items: center;
color: white;
text-decoration: none;
font-size: 1em;
background-color: #185531;
border-radius: 5px;
padding: 2px;
margin-bottom: 5px;
width: auto;
max-width: 200px;
  
}


.texto_s11 p,
.texto_s12 p,
.texto_s13 p,
.texto_s14 p,
.texto_s15 p,
.texto_s21 p,
.texto_s22 p,
.texto_s23 p,
.texto_s24 p,
.texto_s25 p,
.texto_s26 p,
.texto_s27 p,
.texto_s28 p,
.texto_s29 p,
.texto_s30 p,
.texto_s31 p,
.texto_s32 p {
color: white;
  
}





.mostrar2 {
  max-height: 700px;
  width: auto;
}

/* QUIENES SOMOS */

.quienes_somos p{
  font-size: 1.2em;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

.cursiva{
  font-style: oblique;
}

/* TIMELINE */

.history h2{
  text-align: center;
}

.historia{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#185531;
  border-radius: 15px;
  margin: 0;
  padding: 0;

}

.historia iframe{
  Overflow: hidden;
  width: 90%;
  height: 500px;
}

#timeline{
  content: '';
  position: absolute;
  background: white;
  width: 2px;
  left: 50%;
}
.child{
  background-color:#96b734;
  position: relative;
  margin: 20px;
  opacity: 5;
}


/*PARES*/

.child:nth-child(odd){
  float: left;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0px 20px 20px 20px;
}
.child:nth-child(odd)::before{
  content: '';
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: -30px;
}
.child:nth-child(odd)::after{
  content: '';
  position: absolute;
  background: white;    
  width: 10px;
  height: 2px;
  left: -10px;
  top: 10px;
}

/*IMPARES*/

.child:nth-child(even){
  float: right; 
  border-radius: 20px 0px 20px 20px;  
  text-align: right;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  
}
.child:nth-child(even)::before{
  content: '';
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  right: -30px;
}
.child:nth-child(even)::after{
  content: '';
  position: absolute;
  background: white;    
  width: 10px;
  height: 2px;
  right: -10px;
  top: 10px;
}

.content{
  width: 300px;
  padding: 15px;
  color: white;   
}

.content p{
  color: white;
}


/* ANIMACION DE TIMELINE */
._show{
  opacity: 1;
  animation:  __show 1s cubic-bezier(.99,-.7,.2,1.9);
}
._hide{
  opacity: 0;
  animation:  __hide 1s cubic-bezier(.99,-.7,.2,1.9);
}
@keyframes __show {
  0% { transform: translateY(500px); opacity: 0;}    
  100% { transform: translateY(0); opacity: 1;}    
}
@keyframes __hide {
  0% { transform: translateY(0); opacity: 1;}    
  100% { transform: translateY(500px); opacity: 0;}    
}







/* RESPONSIVE*/

@media (min-width: 1100px){
nav ul li a{
  font-size: 1.2em;
}
}


@media (min-width: 1000px) {

  nav {
    display: flex;
    flex-direction:column ;
    width: 100%;
    max-height: 100px;
    overflow:hidden;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
   
  }

 
  nav ul li a{
    line-height:30px;
  }

  
  nav a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    font-weight: bold;

}

  nav li {
    display: inline-flex;
    width: auto;
    padding: 5px 10px;
    color: #fff;
}

nav li:hover {
  background-color:#96b734;
  color:#fff;
  border-radius: 15px;
} 
   

  .boton_menu{
    display: none;
  }

  .li_menu{
    width: auto;
  }

  
}


@media (min-width: 800px) {




  /* INDEX */

  .banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
  }


  

  footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }




  /* ASIDE + SECTION */

.aside_section{
  display: grid;
  grid-template-areas: 
          "aside section_aside";
}

aside{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 250px;
}

aside ul{
  display: flex;
  flex-direction: column;
  width: auto;
}

.ul_aside h4{
  margin-bottom: 25px;

}

.ul_aside h4{
  margin-top: 10px;
  padding-top: 10px;
}

.ul_aside li{
  padding-top: 2px;
  margin-top: 5px;
  list-style:none;
  text-decoration:none;
  height: 50px;
}

.eventos_index{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.titulo_s_index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #96b734;
  border-radius: 10px;
  width: 500px;
  height: auto;
  min-height: 300px;
}

.titulo_s_index h3 {
  color: white;
}

.boton_g{
  font-size: 1.5em;
  width: 400px;
  }



  
}





@media (min-width: 450px){

  

  .li_bancos p{
    font-size: 1em;
  }

.eventos,
.prensa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.titulo_verde{
  font-size: 1.5em;

}


}