* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;

}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: .5%;
  margin: 1%;
}

h1{
  color: #1a5733;
  padding: 1%;
}

h2{
  color: #4CAF50;
  padding: 1%;
}

p{
  color: #1a5733;
  padding: 1%;
}

ul{
  color: #1a5733;
  padding: 1%;
}

li{
  padding: 0.5%;
}

section{
  padding: 2%;
}


.redes {
  display: none;
}

.linea{
  background-color:#9ec31b ;
  width: auto;
  height: 5px;
}




/* MENU NAVEGACION */

.boton_whastapp{
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center ;
  width:100%;
  max-height:0px;
  overflow:hidden;
  transition: 1s all; 

 
}

.mostrar {
  max-height:500px;

}


.ul_menu {
  list-style:none;
}

nav ul li a{
   text-decoration:none;
   display:block;
   line-height:50px;
   font-weight: bold;
   color: #9ec31b;
   font-size:1em;
   padding:2px;
   text-align: center;
 }
 
 nav ul li a:hover {
  background-color:#4CAF50;
  color:#fff;
  border-radius: 15px;

}

.menu {
  display: flex;
  justify-content: center;
  padding:10px;
  color:#fff;
  width:100%;
  cursor:pointer;  
 
}

.boton_menu{
  justify-content: center;
  width: 50px;
}

.img_nav{
  width: 30px;
}


/* BANNER INDEX */


.banner {
  margin: 5px;
  padding: 10px;

}

.banner_left{

}

.banner_left img{
  width: 100%;
  text-align: center;
}

.datos1,
.datos2,
.datos3 {
  background-color: #d4dc90;
  border-radius: 15px;
  text-align: center;
  height: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}


.titulo {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.subtitulo {
  font-size: 30px;
  color: white;
  
}

.num_tit {
  font-size: 60px;
  font-weight: bold;
  color: #1a5733;
}

.dato_tit {
  font-size: 20px;
  font-weight: bold;
  color: #1a5733;
}

.dato_stit {
  padding-bottom: 1%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  font-size: 15px;
  color: black;
}






/* MENU IMAGENES INDEX */

.contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contenedor_img{
  position: relative;
  display: inline-block;
  text-align: center;
}

.img_secciones{
  width: 250px;
  padding: 2%;
}


.texto_img{
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
-webkit-text-stroke: .5px white;
;
}








/* ***FOOTER*** */

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1a5733;
  text-align: center;
}

.section.footer{
  padding: 2%;
}

.h2_footer{
  padding: 1%;
  color: white;
}

.p_footer{
  color: white;
}

.p_footer a{
  color: #4CAF50;
}

.img_footer{
  padding: 0.5%;
  justify-content: space-around;
  width: 50px;
}

.img_footer2{
  width: 150px;
  align-items: center;
  border-radius: 5px;
}

.prop_footer{
  font-size: 12px;
  text-align: center;
}

.prop_footer a{
  text-decoration: none;
  color: black;

}



/* ***COLABORAR*** */

.titulo_verde{
  color: #4CAF50;
  text-align: center;
}

.boton{
display: flex;
justify-content: center;
width: 300px;
text-align: center;
border: 2px solid #1a5733 /*anchura, estilo y color borde*/
padding: 2%; /*espacio alrededor texto*/
margin: 15px;
background-color: #1a5733; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 10px; /*bordes redondos*/
}

.boton_g{
display: flex;
justify-content: center;
text-align: center;
width: 300px;
height: auto;
padding: 8px; /*espacio alrededor texto*/
background-color: #1a5733; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
border-radius: 10px; /*bordes redondos*/
}

.boton_g a:hover{
  background-color: #4CAF50 ; /*color botón*/
  color: #ffffff; /*color texto*/
  }


.bancos{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #4CAF50;
  box-shadow: 7px 13px 37px;
}

.li_bancos{
  color: black;
  margin: .5%;
  padding: 2%;
  background-color: white;
  width: 400px;
  border-radius: 15px;
}




/* QUIENES SOMOS */

.quienes_somos p{
  font-size: 1.2em;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}


/* ASIDE + SECTION */

.aside_section{
  display: grid;
  grid-template-areas: 
          "section_aside"
          "aside";
}

aside{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border-color: #9ec31b;
  border-width: 2px;
  width: auto;
  border-color: #1a5733;
  border-style: double;

}


.ul_aside h4{
  font-size: 1.2em;
  text-align: center;
  margin-top: 5px;
  padding-top: 5px;
}

.ul_aside li{
  background-color: #1a5733;
  border-radius: 15px;
  padding-top: 2px;
  margin-top: 5px;
  list-style:none;
  width: 200px;
  text-align: center;

}

.ul_aside a{
  color: white;
  padding: 2%;
  margin: 2%;
  text-decoration:none;
}

.ul_aside li :hover{
  background-color:#4CAF50 ;
  color: black;
  width: auto;
}

.boton_centro{
  display: flex;
  justify-content: center;
}


/* GRUPOS */

.section_aside{
  grid-area:  section_aside;
}

.section_aside h3{
  padding-top: 5%;
  text-align: center;
}

.center{
text-align: center;
}

.section_aside p{
  padding: .5%;
  margin: .5%;
}




/* ***CONTACTO*** */

.contacto{
  display: flex;
  width: 80%;
  max-width: 800px;
  background-color: #4CAF50;
  padding: 30px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 4px;
  box-shadow: 7px 13px 37px;

}

.contacto h2{
  color: white;
  margin-bottom: 10px;
}

.input_form{
  width: 100%;
  padding: 3%;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid;
  
}

.boton {
  width: 100%;
  max-width: 300px;
  height: 30px;
  border: none;
  padding: 2px;
  margin: 5px;

}











/* RESPONSIVE*/

@media (min-width: 1100px){
nav ul li a{
  font-size: 1.2em;
}
}


@media (min-width: 900px) {

  nav {
    display: flex;
    flex-direction:column ;
    width: 100%;
    max-height: 100px;
    overflow:hidden;
   
  }

 
  nav ul li a{
    line-height:30px;
  }

  
  nav a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    font-weight: bold;

}

  nav li {
    display: inline-flex;
    width: auto;
    padding: 5px 10px;
    color: #fff;
}

nav li:hover {
  background-color:#4CAF50;
  color:#fff;
  border-radius: 15px;
} 
   

  .boton_menu{
    display: none;
  }

  
}


@media (min-width: 800px) {

  .logo img{
    width: 250px;
  }


  /* INDEX */

  .banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
  }

  .banner_left{

  }
  
  .banner_left img{
  
  }
  
  .datos1,
  .datos2,
  .datos3 {
    width: 30%;
    height: auto;
    margin: 10px;
    padding: 10px;
  }
  

  footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }


  /* ASIDE + SECTION */

.aside_section{
  display: grid;
  grid-template-areas: 
          "aside section_aside";
}

aside{
  display: flex;
  flex-wrap: wrap;
  width: 250px;
}

.ul_aside h4{
  margin-top: 10px;
  padding-top: 10px;
}

.ul_aside li{
  padding-top: 2px;
  margin-top: 5px;
  list-style:none;
  text-decoration:none;
}
  
}

@media (min-width: 400px){
  .redes {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .redes a{
    margin: 5px;
  }

}